{% comment %}
Book template for displaying book titles and authors
Usage: {% include book.html title="Book Title" author="Author Name" description="Optional description" %}
{% endcomment %}

<div class="book-entry">
    <div class="book-title">
        {% if include.title %}
            {{ include.title }}
        {% else %}
            Untitled
        {% endif %}
    </div>

    {% if include.author %}
        <div class="book-author">{{ include.author }}</div>
    {% endif %}

    {% if include.description %}
        <div class="book-description">{{ include.description }}</div>
    {% endif %}
</div>
