

<script src="/assets/js/Cesium/Cesium.js"></script>
<link href="/assets/js/Cesium/Widgets/widgets.css" rel="stylesheet">


<div id="gpx_dir" style="display: none;">{{ include.gpx_file }}</div>
<div id="clamp_to_ground" style="display: none;">{{ include.clamp_to_ground }}</div>
<div id="cesiumContainer"></div>
  <script>
    // Your access token can be found at: https://ion.cesium.com/tokens.
    // This is the default access token from your ion account

    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzZGY3Mzk4MS1jMmJlLTQyOGEtOWU5Yy03YmQzNGEzNmQ2ZDEiLCJpZCI6MTM2MDgwLCJpYXQiOjE2ODI3MTc1NjJ9.K4F5Qh2whPzLuaNqpZ1SXuTCyWszHHFng2ZrDOy_Rq0';

    // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
    const viewer = new Cesium.Viewer('cesiumContainer', {
        animation: false,
        baseLayerPicker: true,
        geocoder: false,
        homeButton: false,
        infoBox: false,
        sceneModePicker: false,
        selectionIndicator: false,
        timeline: false,
        navigationHelpButton: false,
        navigationInstructionsInitiallyVisible: false,
        baseLayerPicker: false,
        terrainProvider: Cesium.createWorldTerrain()
    });    
      
    viewer._cesiumWidget._creditContainer.parentNode.removeChild(
        viewer._cesiumWidget._creditContainer);


    var mapBox = new Cesium.MapboxStyleImageryProvider({
      username: 'robbarlw',
      styleId: 'cknxmew6k1uxy17lti69s3qjm',
      accessToken: 'pk.eyJ1Ijoicm9iYmFybHciLCJhIjoiY2tsZWdiN2Z5M2p4MTMybnJma3RwdjN5aiJ9.2lmhrRvn2t08ly40eA5vBA'
    });

    var imageryLayer = viewer.imageryLayers.addImageryProvider(
      mapBox
    );
      
    const gpx_file = document.getElementById("gpx_dir").innerText;
    const clamp_to_ground = 
      (document.getElementById("clamp_to_ground").innerText === "true");
    
    if (gpx_file != ""){
        const options = {
            camera: viewer.scene.camera,
            canvas: viewer.scene.canvas,
            clampToGround: clamp_to_ground,
            waypointImage: ""
        };

        viewer.dataSources.add(
          Cesium.GpxDataSource.load(
            gpx_file,
            options
          )
        )
        .then(function (dataSource) {
          viewer.flyTo(
            dataSource.entities,
            new Cesium.HeadingPitchRange(0.0, -1.0, 0.0)
            );
        });
      }
  </script>

<style>
  #cesiumContainer{
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  }
</style
