.navigation-menu {
  font-weight:100;
  font-size: smaller;
}

.navigation-category {
    font-weight: bold;
    font-size: medium;
  }
  
  
  .navigation-subcategory {
    font-weight: lighter;
    font-size: small;
  }

  .accordion-sub {
    display: none;
  }
