body {
  --full-width: min(100vw, 1100px);
  --radius : calc(0.01 * var(--full-width));
  --padding : calc(0.01 * var(--full-width));
  --margin : calc(0.02 * var(--full-width));

  --font-base-size : 13px;
  --font-subtitle-size : calc(var(--font-base-size)*1.618);
  --font-title-size : calc(var(--font-base-size)*2.618);
  --font-body-text : var(--font-base-size)/1.5 "Roboto", sans-serif;

  --sidebar-percentage: 0.28;
  --header-height: 120px;

  --main-light: #e7e7e7;
  --main-dark: #140c0c;
  --accent-light: #e6ebff;
  --accent-dark: #3e2f2f;
    background-color: var(--main-light);
    padding-top:10vh;
    font: var(--font-body-text);
    font-weight:200;
    width: var(--full-width);
    max-width: var(--full-width);
    margin: auto;
    height: 90vh;
}

img {
  border-radius: var(--radius);
  border-style: solid;
  border-color: var(--accent-dark);
}

#main {
  box-sizing: border-box;

}

#title-section {
  height: calc(var(--header-height) + var(--margin));
  color: var(--accent-dark);
}

#title-block {
  width: calc((1 - var(--sidebar-percentage)) * var(--full-width) - 2*var(--margin));
  height: var(--header-height);
  padding: var(--padding);
  margin: var(--margin);
  box-sizing: border-box;
  border-left-style: solid;
  border-bottom-style: solid;

  position: relative;
  float: left;
}

#title-img-block {
  width: calc((var(--sidebar-percentage)) * var(--full-width) - 2*var(--margin));
  height: var(--header-height);
  /* border-radius: var(--radius); */

  border-right-style: solid;
  border-top-style: solid;
  margin: var(--margin);
  box-sizing: border-box;
  float: right;
  
}

#title-img-block img{
  width: var(--header-height);
  height: 100%;
  object-fit: contain;
  float: right;
  border-style: none;

}

#title-section #title {
  font-size: var(--font-title-size);
  font-weight: 100;
  
}
#title-section #sub-title {
  font-size: var(--font-base-size);
  font-weight: 100;
}
#title-section #signature {
  font-size: calc(var(--font-base-size)/1.2);
  font-weight: 200;
}

#sidebar {
  --sidebar-width: calc(var(--sidebar-percentage) * var(--full-width));
  margin: var(--margin);
  width: calc(var(--sidebar-width) - 2*var(--margin));
  float: left;
  /* border-radius:  var(--radius); */
  border-top-style: solid;
  border-left-style: solid;


  box-sizing: border-box;
}

#navigation-image-rect {
  box-shadow:inset 0px 0px 0px 1px var(--main-dark);
  border-radius: var(--radius);
  margin: var(--margin);
  height: calc( .62 * var(--sidebar-width));
  overflow: hidden;
  border-style: solid;

}

#navigation-image-rect > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--sidebar-width);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navigation-sidebar {
  /* border-radius: var(--radius); */


  padding: var(--padding);
  box-sizing: border-box;
}

h2 {
  font-weight:400;
  font-size: calc(var(--font-subtitle-size)); 
}

.navigation-menu {
  font-weight:100;
  font-size: var(--font-base-size);

}

.navigation-category {
  font-weight:400;
  font-size: calc(var(--font-base-size) * 1.2);
}

.navigation-subcategory {
  font-weight:200;
  font-size: calc(var(--font-base-size) * 1.2);
}

.accordion-sub {
  display: none;
}


#content-body {
    --content-body-width: calc((1 - var(--sidebar-percentage)) * var(--full-width));
    margin: var(--margin);
    width: calc(var( --content-body-width) - 2*var(--margin));
    float: left;
    /* box-shadow:inset 0px 0px 0px 1px var(--main-dark); */
    border-right-style : solid;
    border-bottom-style : solid;

    /* border-radius:  var(--radius); */

    padding: var(--padding);
    box-sizing: border-box;
}

#content-body > h2 {
  padding: 0;
  margin: 0;
}



