---
layout: base
---



<img src = "/images/rob.jpg" style="float: right; width: 30%; margin: 10px;">
<h2> Hello! </h2>

I'm Rob, an adventurer with a passion for exploring and making things . This website is a space for me to put down some thoughts, ideas, and experiences.

<h3>What you'll find here:</h3>

<p><b>Projects: </b>
    When I finish a project, I'll document a bit about the process and the outcome here.
</p>
<p><b>Trip Reports: </b>
    Here I'll be sharing my experiences from my misadventures around California and wherever else I end up. 
</p>
<p><b>Thoughts and Notes: </b>
    I greatly admire the writing of essayists like Maria Popova, Hanif Abdurraqib, and many many more. While I can't come close to the writing of those I admire, I do like to occasionally write bits and pieces of things down. These posts will be a mix of short reflections and longer thoughts.
    </p>



