---
layout: base
---


<h4> Howdy! I'm Rob, an engineer, aspiring paragliding pilot, and avid outdoorsman. </h4>

<p>
    I currently work as a software engineer at <a href="https://reliable.co/"> Reliable Robotics</a>, developing Detect and Avoid (DAA) solutions for unmanned aircraft in the national airspace. I compete (or have competed) in the <a href="https://norcalxc.com/"> Northern California Cross Country League </a> and the <a href="https://xredrocks.com/"> xRedRocks</a>. In 2021, I completed thru-hikes of the Pacific Crest Trail and the Long Trail.
</p>
<br>
<div id="definition">
    <i>peregrination ( perəɡrəˈnāSH(ə)n ) <b>n.</b></i>
    <p>-    1, A journey, pilgrimage; <i>fig.</i> the human journey through life;</p>
    <p>-    2. A long trip in which you travel to various different places, especially on foot</p>
</div>


